body 
{
    background-image: url('/HappyHoliday/image/back.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.tab
{
    width: 70%;
    border: 5px solid #000066;
    background-color: #FFFFFF;
}
.but
{
    font-family: 'Arial Rounded MT Bold'; 
    font-size: large; 
    color: #FFFFFF; 
    font-weight: 700;
    background-color: #507CD1 ;
    border-color: #000099;
    border-style: Solid;
    border-width: 5px ;
    height: 40px;
    width : 145px;
}
.tabuser
{
    width: 100%;
    border: 3px solid #000099;
    background-color: #EFF3FB;
}
.tdtag
{
    background-color: #507CD1; 
    font-size: xx-large; 
    font-family: Arial Rounded MT Bold; 
    font-weight: 700; 
    color: #FFFFFF;
}
